<h2>Day 3</h2>
Look at the
<a href="https://adventofcode.com/2018/day/3">original challenge</a> <br />
enter your challenge input here, I've added the demo to get started.
<mat-form-field>
  <textarea
    matInput
    placeholder="Your challenge input"
    [formControl]="challengeCtrl"
  ></textarea>
</mat-form-field>

<button
  mat-stroked-button
  (click)="loadChallenge()"
  [disabled]="working"
  color="accent"
>
  Load actual challenge
</button>

<button
  mat-stroked-button
  (click)="startAlgorithm()"
  [disabled]="challengeCtrl.invalid || working"
>
  Start solution
</button>

<div fxLayout="row" fxLayoutGap="1rem">
  <div fxFlex="400px" fxLayout="column" class="mat-typography">
    <p *ngIf="currentStep >= 1">Step 1 - set up the grid of data we got</p>
    <p *ngIf="currentStep >= 2">Step 2 - draw in the areas</p>
    <p *ngIf="currentStep >= 3">
      Step 3 - calculate claims for every point on the grid
    </p>
    <p *ngIf="currentStep >= 4">Step 4 - draw in interceptions</p>
    <p *ngIf="currentStep >= 5">
      Done - We have found {{ result }} interceptions
    </p>
  </div>
  <div fxFlex><canvas style="width: 100%;height: 100%;" #canvas></canvas></div>
</div>
